<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration"  
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0"
             requirePermission="true" />
  </configSections>
  <loggingConfiguration defaultCategory="General">
    <listeners>
      <add
        name="SerilogTraceListener1"
        type="EnterpriseLibrary.Logging.Serilog.SerilogTraceListener, EnterpriseLibrary.Logging.Serilog"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral" />
    </listeners >
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name= "SerilogTraceListener1" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>